<header id="header" class="{{ page.header.header_class }}">
    <h1 id="logo">
        <a href="{{ base_url_absolute }}">
            <img alt="" src="http://netquatro.com/templates/theme949/images/logo/logo.png" class="logo-empresa"/>
        </a></h1>
  <nav id="nav">



      <ul>
          <!-- <li>
               <a class="dropdown-toggle" href="#">Nuestro Servicio <span class="caret"></span>  </a>
               <ul class="dropdown-menu">
               <li>
               <a href="#">Algo aca</a>
               </li>
               </ul>
               </li> -->

          <!-- <li class="current"><a href="{{ base_url_absolute }}">Principal</a></li>
             -->
      <li class="submenu">
          <a href="">La Empresa</a>
          <ul>
              <li>  <a href="http://netquatro.com/index.php/la-empresa/quienes-somos">Quienes somos</a> </li>

              <li>  <a href="http://netquatro.com/index.php/la-empresa/por-que-netquatro">¿Por qué Netquatro?</a> </li>

              <li>  <a href="http://netquatro.com/index.php/la-empresa/clientes-globales">Cuentas Globales</a> </li>
          </ul>
      </li>

      <li class="submenu">
          <a href="">Servicios</a>
          <ul>
              <li>  <a href="http://netquatro.com/index.php/servicios/net4cloud">Net4Cloud</a> </li>

              <li>  <a href="http://netquatro.com/index.php/servicios/servidores-dedicados">Servidores Dedicados</a> </li>

              <li>  <a href="http://netquatro.com/index.php/servicios/net4email">Net4Email</a> </li>

              <li>  <a href="http://netquatro.com/index.php/servicios/servicios-vps">VPS</a> </li>

          </ul>
      </li>

      <li> <a href="http://netquatro.com/miportal/clientarea.php">Area Cliente</a> </li>


      <li> <a href="http://netquatro.com/index.php/partnership">Partnership</a> </li>


      <li> <a href="#contacto">Contáctenos</a> </li>

    </ul>
  </nav>
</header>
