<section id="banner">
    <div class="inner">
        <header>
            <img src="/user/themes/twenty/images/logo net4email.png" alt="logo" id="net4email">
        <!--   <h2>{{ page.header.title }}</h2> -->
        </header>
        {{ content }}
        <footer>
            <ul class="buttons vertical">
                {% for button in page.header.buttons %}
                    <li><a href="{{ button.url }}" class="button fit scrolly">{{ button.text }}</a></li>
                {% endfor %}
            </ul>
        </footer>
    </div>
</section>